<!--<mat-drawer-container class="example-container" autosize>-->
<!--  <mat-drawer #drawer class="example-sidenav" mode="side">-->
<!--    <p>Auto-resizing sidenav</p>-->
<!--    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>-->
<!--    <button (click)="showFiller = !showFiller" mat-raised-button>-->
<!--      Toggle extra text-->
<!--    </button>-->
<!--  </mat-drawer>-->

<!--  <div class="example-sidenav-content">-->
<!--    <button type="button" mat-button (click)="drawer.toggle()">-->
<!--      <mat-icon>menu</mat-icon>-->
<!--    </button>-->
<!--  </div>-->

<!--</mat-drawer-container>-->
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Rainbow Six Siege Wiki</span>
    <div>
      <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
        <div class="container">
          <a class="navbar-brand">Angular Router</a>
          <ul class="nav navbar-nav" routerLinkActive="active">
            <span class="nav-item"><a class="nav-link" routerLink="home">Home</a></span>
            <span class="nav-item"><a class="nav-link" routerLink="overview">Overview</a></span>
            <span class="nav-item"><a class="nav-link" routerLink="operators">Operators</a></span>
            <span class="nav-item"><a class="nav-link" routerLink="store">Store</a></span>
          </ul>
        </div>
      </nav>





<!--      <nav>-->
<!--        <ul>-->
<!--        <span class="nav-obj"><a routerLink="/home" routerLinkActive="active">Home</a></span>-->
<!--        <span class="nav-obj"><a routerLinkActive="active" routerLink="/overview">Overview</a></span>-->
<!--        <span class="nav-obj"><a routerLinkActive="active" routerLink="/operators">Operators</a></span>-->
<!--        <span class="nav-obj"><a href="#store" routerLinkActive="active" routerLink="/store">Store</a></span>-->
<!--        </ul>-->
<!--      </nav>-->
      <!--     <span routerLink="/overview" routerLinkActive="active" class="nav-obj">Overview</span><br>-->
<!--      <span routerLink="/operators" routerLinkActive="active" class="nav-obj">Operators</span><br>-->
<!--      <span routerLink="/store" routerLinkActive="active" class="nav-obj">Store</span><br>-->
    </div>
    <span class="example-spacer"></span>
  </mat-toolbar>
