<!--<mat-drawer-container class="example-container" autosize>-->
<!--  <mat-drawer #drawer class="example-sidenav" mode="side">-->
<!--    <p>Auto-resizing sidenav</p>-->
<!--    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>-->
<!--    <button (click)="showFiller = !showFiller" mat-raised-button>-->
<!--      Toggle extra text-->
<!--    </button>-->
<!--  </mat-drawer>-->

<!--  <div class="example-sidenav-content">-->
<!--    <button type="button" mat-button (click)="drawer.toggle()">-->
<!--      <mat-icon>menu</mat-icon>-->
<!--    </button>-->
<!--  </div>-->

<!--</mat-drawer-container>-->
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Rainbow Six Siege Wiki</span>
    <div>
     <span routerLink="/overview" routerLinkActive="active" class="nav-obj">Overview</span><br>
      <span routerLink="/operators" routerLinkActive="active" class="nav-obj">Operators</span><br>
      <span routerLink="/store" routerLinkActive="active" class="nav-obj">Store</span><br>
    </div>
      <!--    <router-outlet></router-outlet>-->
    <span class="example-spacer"></span>
  </mat-toolbar>
