.underline{
  border: 5px solid indigo;
  margin-top: 20%;
}

.example-card {
  max-width: 400px;
  margin: auto;
  margin-top: 2%;
}

.example-header-image {
  background-size: cover;
}

.store-container{
  display: flex;
  flex-direction: row;
  margin-top: 3%;
}

.picture{
  margin: auto;
}

.picture-description{
  font-size: x-large;
  margin: auto;
  margin-top: 2%;

}
