.underline{
  border: 5px solid indigo;
  margin-top: 20%;
}

.example-card {
  max-width: 400px;
  margin: auto;
  margin-top: 2%;
}

.example-header-image0 {
  background-size: cover;
}

.store-container{
  display: flex;
  flex-direction: row;
  margin-top: 3%;
}

.picture1{
  margin: auto;
  margin-right: -15%;
}
.picture2{
  margin: auto;
}

.picture-description{
  font-size: x-large;
  display: flex;
  flex-direction: row;
  height: 90px;
}

.picture-description-price{
  font-size: x-large;
  display: flex;
  flex-direction: row;
  //margin: auto;
  //margin-top: 2%;
}

button{
  max-width: 400px;
  height: max-content;
}

mat-dialog-container{
  background-color: #202124;
}
