<div id="#overview" style="font-family: Roboto,Helvetica Neue sans-serif; color: white; margin: auto ">
  <div style="font-size: xxx-large; width: fit-content; margin: auto; margin-top: 5%; font-weight: bold;"> Store
    <div class="underline"></div>
  </div>
  <div class="store-container">
    <div class="picture1">
      <button mat-raised-button color="primary" (click)="openDialog()">
        <img src="assets/standard-spiel.webp" style="margin-top: 3%">
        <p class="picture-description">Standard-Edition (Basisspiel)</p><p class="picture-description-price">Preis: 20.-</p>
      </button>
    </div>
    <div class="picture2">
      <button mat-raised-button color="primary" (click)="openDialog()">
        <img src="assets/deluxe-spiel.webp" style="margin-top: 5%">
        <p class="picture-description">Deluxe-Edition (Basisspiel <br>+ Operators aus Year 1&2)</p><p class="picture-description-price">Preis: 35.-</p>
      </button>
    </div>
  </div>
</div>
