<mat-toolbar color="primary">
  <span style="margin-right: 70%">Rainbow Six Siege Wiki</span>
  <div>
    <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
      <div class="container">
        <ul class="nav navbar-nav" routerLinkActive="active">
          <button mat-raised-button color="primary"><a class="nav-link" routerLink="home">Home</a></button>
          <button mat-raised-button color="primary"><a class="nav-link" routerLink="maps">Maps</a></button>
          <button mat-raised-button color="primary"><a class="nav-link" routerLink="operators">Operators</a></button>
          <button mat-raised-button color="primary"><a class="nav-link" routerLink="store">Store</a></button>
        </ul>
      </div>
    </nav>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
    <app-footer></app-footer>
