.underline{
  border: 5px solid indigo;
  margin-top: 15%;
}

.example-card {
  max-width: 500px;
  margin: auto;
  margin-top: 2%;
}

.example-header-image {
  background-size: cover;
}

.store-container{
  display: flex;
  flex-direction: row;
}
