mat-dialog-container {
  background: #202124;
}

.underline{
  border: 5px solid indigo;
  margin-top: 5%;
}

.mat-form-field {
  margin-top: 16px;
}

.example-full-width{
  max-width: 400px;
}

.store-input-container{
  display: flex;
  flex-direction: column;
  margin: auto;
}

.store-adress-container{
  margin: auto;
}
