<div style="font-family: Roboto,Helvetica Neue sans-serif; color: black; margin: auto;">
  <div style="font-size: xxx-large; width: fit-content; margin: auto; margin-top: 5%; font-weight: bold;"> Kundeninformationen
    <div class="underline"></div>
  </div>
  <mat-stepper orientation="vertical">
    <mat-step>
      <div class="store-input-container">
        <ng-template matStepLabel>Kundeninformationen eingeben</ng-template>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Vorname</mat-label>
          <input matInput placeholder="Vorname eingeben" required>
        </mat-form-field> <br>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Nachname</mat-label>
          <input matInput placeholder="Nachname eingeben" required>
        </mat-form-field> <br>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>E-Mail</mat-label>
          <input matInput type="email" placeholder="E-Mail Adresse eingeben" required>
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Telefon</mat-label>
          <span matPrefix>+41 &nbsp;</span>
          <input type="tel" matInput placeholder="79 666 69 69">
          <!--        <mat-icon matSuffix>mode_edit</mat-icon>-->
        </mat-form-field> <br>
      </div>
      <div class="store-adress-container">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Adresse</mat-label>
          <input matInput placeholder="Ex. Ausstellungsstrasse 71" required>
        </mat-form-field>
        <mat-form-field style="margin-left: 2px" class="example-full-width" appearance="fill">
          <mat-label>2. Adresse</mat-label>
          <input matInput placeholder="Ex. Rennweg 22">
        </mat-form-field>
        <table class="example-full-width" cellspacing="0"><tr>
          <td><mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Stadt</mat-label>
            <input matInput placeholder="Ex. Glattbrugg" required>
          </mat-form-field></td>
          <td><mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Ort</mat-label>
            <input matInput placeholder="Ex. Zürich" required>
          </mat-form-field></td>
          <td><mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Postleitzahl</mat-label>
            <input matInput #postalCode maxlength="5" placeholder="Ex. 8005" required>
            <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
          </mat-form-field></td>
        </tr></table>
      </div>
      <ng-template matStepContent>
        <button mat-button matStepperNext>Next</button>
      </ng-template>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Bezahlung</ng-template>
      <ng-template matStepContent>
        <p>Folgende Zahlungsart wird unterstützt: Twint</p>
        <p style="font-weight: bold">Preis: 35.- </p>
        <img src="assets/twint.png" style="width: 20%; height: 20%;"><br>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </ng-template>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Absschluss des Kaufs</ng-template>
      <p style="font-size: x-large; margin-top: 2%">Vielen Dank für Ihren Einkauf
        <angular-emojis [name]="'smiley'" size="25"></angular-emojis> <br>
      </p>
      <p>Beehren Sie uns bald wieder!</p>

      <button mat-button (click)="onNoClick()">Exit</button>
    </mat-step>
  </mat-stepper>
</div>

