<div style="font-family: Roboto,Helvetica Neue sans-serif; color: white; margin: auto ">
  <div style="font-size: xxx-large; width: fit-content; margin-left: 20%; margin-top: 5%; font-weight: bold;"> Herzlich Willkommen zum Rainbow Six Siege Wiki
    <angular-emojis [name]="'smiley'" size="45"></angular-emojis>
    <div class="underline"></div>
  </div>
  <br>
  <br>
  <div class="picture-outline" style="margin: auto">
    <img src="assets/titel_bild.jpg">
  </div>

  <div style="display: flex; flex-direction: row; border: 5px solid indigo; width: 90%; margin: auto; margin-top: 2%;"></div>
    <p style="font-size: larger; margin-left: 5%; margin-top: 1%">INSERT TEXTn  hadfkjshkjldas hflkjjhasdlkfh asdkljhk</p>
  <div style="display: flex; flex-direction: row; border: 5px solid indigo; width: 90%; margin: auto; margin-top: 2%;"></div>


  <div class="content-container-home" >
    <div class="comment-outline">
      <h1 style="text-decoration: underline">Comment Section</h1>
      <mat-card class="mat-card-home" style="box-shadow: 5px 5px; font-size: larger">Dieses Spiel ist eine 10 von 10. Ich spiele es jeden Tag mit meinen Freunden. <p STYLE="font-weight: bold">GamerID: xx_Darkknight_xx</p></mat-card>
      <br>
      <mat-card class="mat-card-home" style="box-shadow: 5px 5px; font-size: larger">Gutes Spiel, aber die Server von Ubisoft könnten einen Service gebrauchen. <p style="font-weight: bold">GamerID: BIG_SMEIL03</p></mat-card>
      <br>
      <mat-card class="mat-card-home" style="box-shadow: 5px 5px; font-size: larger">Hat zu viele Tryhards 6/10. <p style="font-weight: bold">GamerID: Dragotronix</p></mat-card>
    </div>
      <img src="../assets/Rainbow-Six-Siege-658x370-da3f7af90337ff6a.jpg" alt="Titelbild Rainbow Six" id="titelbild" class="picture-outline">
  </div>
  <div style="display: flex; flex-direction: column; color: indigo"></div>
</div>
