<div style="font-family: Roboto,Helvetica Neue sans-serif; color: white; margin: auto ">
  <div style="font-size: xxx-large; width: fit-content; margin-left: 22%; margin-top: 5%; font-weight: bold;"> Herzlich Willkommen zum Rainbow Six Siege Wiki
<!--    <angular-emojis [name]="'smiley'" size="45"></angular-emojis>-->
    <div class="underline"></div>
  </div>
  <br>
  <br>
  <div class="picture-outline" style="margin: auto">
    <img src="assets/titel_bild.jpg">
  </div>

  <div style="display: flex; flex-direction: row; border: 5px solid indigo; width: 90%; margin: auto; margin-top: 2%;"></div>
  <p style="font-size: xxx-large ; margin-left: 5%; margin-right: 5%; margin-top: 2%; line-height: 150%; text-align: justify; font-weight: bold">
      Spielübersicht
    </p>

    <p style="font-size: x-large; margin-left: 5%; margin-right: 5%; margin-top: 2%; line-height: 150%; text-align: justify">Tom Clancy’s Rainbow Six Siege ist ein First-Person Taktik Shooter, in welchem der Spieler die Rolle eines Operators der Antiterror-Einheit einnimmt. Die Antiterror-Einheiten sind zusammengewürfelt aus Spezialeinheiten aus aller Welt.

      Jeder Operator hat eine spezielle Fähigkeit, die ihn in dem Universum von Rainbow Six: Siege einzigartig macht. Die meisten Operatoren müssen zuerst mit der Ingame-Währung «Renown» (Ansehen) erspielt werden, welche man durch Multiplayer-Runden, das Spielen von Missionen oder Anschauen von Tutorials erhält. Für Neulinge gibt es zusätzlich die «Rekruten», die zwar keine Spezialfähigkeiten besitzen, dafür aber zwei Nebengadgets auswählen können, sowie verschiedene Waffen.

      Im Mehrspieler-Modus gibt es drei Spielmodi, die «lockeren» Matches, in denen alle spielen können, den Modus «Mit Rang», für welchen der Spieler mindestens Stufe 50 erreicht haben und die 2-Faktor-Authentifizierung von Ubisoft aktiviert haben muss und für neue Spieler gibt es den «Neuling» Spielmodus, der nur für Spieler unter Stufe 50 spielbar ist.

      Zu Beginn einer Runde müssen die Spieler einen von ihnen erspielten Operator auswählen sowie dessen Gadgets und Waffen festlegen. Zusätzlich kann abgestimmt werden, wo die Operator zum Beginn starten wollen. Dann steigen die 5vs5 Teams in das Spiel ein. Die Verteidiger müssen in der Vorbereitungsphase alles vorbereiten, um die Angreifer daran zu hindern, zum Ziel zu gelangen. Dazu können sie Wände und Falltüren verstärken, Fenster und Türen verbarrikadieren und ihre Gadgets einsetzen (wie zum Beispiel Stacheldraht, Sprengfallen und Schilder). Das Ziel kann entweder eine Geisel sein, die von den Angreifern in Sicherheit gebracht werden muss, die Sicherung eines Biogefahrgutbehälters oder die Entschärfung einer von zwei Bomben. In dieser Zeit können die Angreifer mit kleinen Drohnenfahrzeugen in das Gebäude eindringen, nach dem Ziel suchen und die Identität feindlicher Operatoren aufklären.</p>
  <div style="display: flex; flex-direction: row; border: 5px solid indigo; width: 90%; margin: auto; margin-top: 2%;"></div>


  <div class="content-container-home" >
    <div class="comment-outline">
      <h1 style="text-decoration: underline">Comment Section</h1>
      <mat-card class="mat-card-home" style="box-shadow: 5px 5px; font-size: larger">Dieses Spiel ist eine 10 von 10. Ich spiele es jeden Tag mit meinen Freunden. <p STYLE="font-weight: bold">GamerID: xx_Darkknight_xx</p></mat-card>
      <br>
      <mat-card class="mat-card-home" style="box-shadow: 5px 5px; font-size: larger">Gutes Spiel, aber die Server von Ubisoft könnten einen Service gebrauchen. <p style="font-weight: bold">GamerID: BIG_SMEIL03</p></mat-card>
      <br>
      <mat-card class="mat-card-home" style="box-shadow: 5px 5px; font-size: larger">Hat zu viele Tryhards 6/10. <p style="font-weight: bold">GamerID: Dragotronix</p></mat-card>
    </div>
      <img src="../assets/Rainbow-Six-Siege-658x370-da3f7af90337ff6a.jpg" alt="Titelbild Rainbow Six" id="titelbild" class="picture-outline">
  </div>
  <div style="display: flex; flex-direction: column; color: indigo"></div>
</div>
