<div id="#overview" style="font-family: Roboto,Helvetica Neue sans-serif; color: white; margin: auto ">
  <div style="font-size: xxx-large; width: fit-content; margin: auto; margin-top: 5%; font-weight: bold;"> Maps
    <div class="underline"></div>
  </div>
  <div class="maps-container">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>BANK</mat-card-title>
        <mat-card-subtitle>LOS ANGELES, KALIFORNIEN</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/bank.jpg">
      <mat-card-content>
        <p style="height: 100px;">
          Das Rainbow-Team wurde gerufen, um eine große Bank zu überfallen. Wichtig ist, den Angreifern ein Gefühl des Fortschritts zu vermitteln, während sie sich durch das Gebäude kämpfen, das zunehmend stärker befestigt ist.
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>KONSULAT</mat-card-title>
        <mat-card-subtitle>ABIDJAN, ELFENBEINKÜSTE</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/konsulat.webp">
      <mat-card-content>
        <p style="height: 100px">
          Diese Karte ist ein schwer befestigter Ort, der ein hohes Risiko birgt und einen Angriff auf das französische Konsulat der Elfenbeinküste darstellt.
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>HAUS</mat-card-title>
        <mat-card-subtitle>LOS ANGELES, KALIFORNIEN</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/house.jpg">
      <mat-card-content>
        <p style="height: 100px">
          Der Einsatz findet in einem typischen Zuhause in einem Vorort statt und es wird mit den Themen Vertrautheit und Verletzlichkeit gespielt. Es ist ein fantastisches Beispiel für die Tiefe der Zerstörung und die Wiederspielbarkeit und zeigt klassisches Belagerungsgameplay.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="maps-container">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>CLUBHAUS</mat-card-title>
      <mat-card-subtitle>HANNOVER, DEUTSCHLAND</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/clubhouse.jpg">
    <mat-card-content>
      <p style="height: 100px">
        Diese Karte zeigt einen Angriff auf das Clubhaus einer Biker-Gang. Dazu gehören eine voll ausgestattete Bar, Spieltische und Ledersessel. Dieses gemischte Innen- und Außenwelt-Layout bietet jede Menge interessante, taktische Möglichkeiten für Angreifer und Verteidiger.
      </p>
    </mat-card-content>
  </mat-card>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>OREGON</mat-card-title>
        <mat-card-subtitle>REDMOND, OREGON</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/oregon.webp">
      <mat-card-content>
        <p style="height: 100px">
          Die Oregon-Karte stellt den Sturm auf eine befestige Anlage von Gesetzlosen dar. Sie fühlt sich rustikal, vielseitig und abgewrackt an und umspannt ein großes, ausgedehntes Layout, bei dem man seine Taktiken anpassen muss, um das Gebiet zu räumen und effektiv zu verteidigen.
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>CHALET</mat-card-title>
        <mat-card-subtitle>COURCHEVEL, FRANKREICH</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/chalet.webp">
      <mat-card-content>
        <p style="height: 100px">
          Eine Schießerei in einem „Après-Ski“-Chalet in den französischen Alpen. Hier steht das warme, gemütliche Interieur im direkten Kontrast zur kalten Außenwelt mit eingeschränkter Sicht.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
