.underline{
  border: 5px solid indigo;
  margin-top: 20%;
}

.example-card {
  max-width: 400px;
  margin: auto;
  margin-top: 2%;
}

.ops-container{
  display: flex;
  flex-direction: row;
}

.example-header-image0 {
  background-size: cover;
}

.store-container{
  display: flex;
  flex-direction: row;
}
