<div style="font-family: Roboto,Helvetica Neue sans-serif; color: black; margin: auto;">
  <div style="font-size: xxx-large; width: fit-content; margin: auto; margin-top: 5%; font-weight: bold;"> Kundeninformationen
    <div class="underline"></div>
  </div>
  <mat-stepper orientation="vertical">
    <mat-step>
      <ng-template matStepLabel>Vorname eingeben</ng-template>
      <ng-template matStepContent>
        <button mat-button matStepperNext>Next</button>
      </ng-template>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Step 2</ng-template>
      <ng-template matStepContent>
        <p>This content was also rendered lazily</p>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </ng-template>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Step 3</ng-template>
      <p>This content was rendered eagerly</p>
      <button mat-button matStepperPrevious>Back</button>
    </mat-step>
  </mat-stepper>
</div>

